# jupyter
.ipynb_checkpoints/

# python
__pycache__/
*.pyc

#datasets
database/
*.flac
*.zip

# model checkpoints
*.pth

# temp scripts
extract_code.py

# Extra ignores
*.pt
*.wav
pretrained_models/
Scores/
phase2_outputs/
*.swp
*.swp
eval_CM_scores_2019_LA_eval.txt
